body, html {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #fff;
  background: #181e34;
}

.container {
  max-width: 930px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

/* ===== Header ===== */

.header {
  padding: 30px 36px;
}

.header-inner {
  display: flex;
  align-items: center;
}

.header-nav {
  margin-left: auto;
}

.header-list {
  display: flex;
}

.header-item {
  margin-right: 30px;
}

.header-btn {
  font-weight: 500;
  line-height: 20px;
  color: #2766ae;
  border-radius: 100px;
  padding: 14px 30px;
  background: #fff;
  margin-left: 4px;
}