div {
  color: aqua;
}

.block {
  color: bisque;
}

div .block {
  color: black;
}

[ddd] {
  color: #0808e4;
}

[ddd="dddd"] {
  color: rgb(158, 158, 253);
}

.block-1 {
  color: brown;
  border: 1px solid black;
}

.block-1, .block-2 {
  color: #ccc;
}

.block-2>.block-2 {
  color: blue;
}

.block-2>.block-2>.block-2 {
  color: red;
}