body {
  background-color: #1e1e20;
}

.wrapper {
  padding: 50px;
  height: 100%;
}

.container {
  position: relative;
  height: 200px;
  background-color: #444;
}

.block {
  background-color: #fff;
  height: 200px;
  width: 200px;
  position: absolute;
}

/* ========================================================= */

.block {
  animation: move-block 2s .3s infinite alternate,
    color-block 1s .3s infinite alternate;
  /* animation-name: ; */
  /* animation-duration: ; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: alternate; */
  /* animation-delay: 3s; */
  /* animation-fill-mode: ; */
  animation-timing-function: linear;
}

@keyframes move-block {
  0% {
    left: 0px;
  }

  50% {
    border-radius: 50%;
  }

  100% {
    left: calc(100% - 200px);
  }
}

@keyframes color-block {
  0% {
    background-color: #fff;
  }

  100% {
    background-color: #8fe48c;
  }
}

/* ================================================= */

.block-inner {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: #444;
  margin: 0 auto;
  position: relative;
}

.block-one {

  width: 200px;
  height: 200px;
  background-color: aquamarine;
  animation: move-block-one 2s .3s infinite;
  position: absolute;
}

@keyframes move-block-one {
  0% {
    left: 0px;
    top: 0px;
  }
  25% {
    left: 200px;
    top: 0px;
  }
  50% {
    top: 200px;
    right: 0px;
  }
  75% {
    right: 200px;
    bottom: 0px;
  }
  100% {
    bottom: 200px;
  }
}